#!/bin/sh

######################################################################
# @author      : {{NAME}} ({{EMAIL}})
# @file        : {{FILE}}
# @created     : {{TODAY}}
# @description : 
######################################################################

echo -------------------OUTPUT-----------------------

#code

echo -------------------OUTPUT-----------------------
